*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

header{
    height: 70px;
    width: 100%;
}

nav{
    /* border: 1px solid purple; */
    height: 70px;
    display: flex;
    background-color: #19946f;
}

/* logo */
#logo{
    /* border: 1px solid red; */
    height: 70px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo img{
    width: 150px;
    height: 40px;
}

/* PAges */
#pages{
    width: 70%;
    height: 70px;
    /* border: 1px solid brown; */
}
#pages ul{
    list-style: none;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    /* padding-right:350px ; */
}
#pages ul li{
    color: whitesmoke;
    font-size: 20px;
    /* padding: 1px; */
}
#pages ul li a{
    text-decoration: none;
    color: white;
}
#pages ul li a.active{
    text-decoration: 2px underline ;
    text-decoration-color: white;
    text-underline-offset:3.5px;
}
#pages ul li a:active{
    text-decoration: 2px underline ;
    text-decoration-color: white;
    text-underline-offset:3.5px;
}

#pages ul li a:hover{
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset:3.5px;
}

/* icons */
#icons{
    /* border: 1px solid red; */
    /* width: 20%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center; */
}
#icons #icon{
    /* padding: 12px; */
}

#bg{
    width: 100%;
}
#bg img{
    width: 100%;
}


/* section */
section h1{
    position: absolute;
    color: #0bc288;
    font-size: 25vh;
    text-shadow: 0px 6px 10px black;
    top: 306px;
    left: 79px;
    padding: 20px;
    /* font-weight: bold; */
    font-family: 'DM Sans', sans-serif;
}
section h2{
    position: absolute;
    color: white;
    font-size: 20vh;
    text-shadow: 0px 6px 10px black;
    top: 290px;
    left: 100px;
    font-family: 'Roboto Serif', serif;
}

@media (min-width:320px) and (max-width:430px){
    *{
        width: 100%;
        height: 100%;
    }
    nav{
        display: flex;
        width: 100%;
        height: 50px;
        /* justify-content: left; */
    }
    
    nav #logo{
        width: 15%;
        height: 50px;
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;

    }
    #logo img{
        width: 100%;
        height: 21px;
    }
    #icons{
        width: 10%;
        height: 50px;
        /* border: 2px solid red; */
    }
    #icons i{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #icons2{
        display: none;
    }
    #icons3{
        display: none;
    }
    #bg{
        height: 250px;
        width: 100%;
        /* border: 1px solid red; */
        position: absolute;
        top: 50px;
    }
    #bg img{
        height: 100%;
        width: 100%;
        opacity: 0.9;
    }
    #pages{
        /* width: 80%; */
        height: 70px;
        /* border: 1px solid brown; */
        display: flex;
    }
    #pages ul{
        list-style: none;
        height: 50px;
    }
    #pages ul li{
        margin: 2px;
        padding: 0px;
        /* border: 2px solid gainsboro; */
        font-size: 8px;
        display: flex;
        justify-content: space-evenly;
    }
    #pages ul li a{
        /* border: 2px solid brown; */
        display: flex;
        font-size: 8.5px;
        /* width: 100%; */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (min-width:431px) and (max-width:835px) {
    nav{
        width: 100%;
        height: 100%;
    }
    #logo img{
        width: 100px;
        height: 30px;
    }

    #pages{
        /* border: 2px solid red; */
        width: 70%;
    }
    #pages ul{
        width: 100%;
        /* border: 2px solid maroon; */
        display: flex;
        justify-content: left;
        padding-right: 15%;
        justify-content: space-between;
    }
    #pages ul li {
        margin: 2px;
        padding: 0px;
        /* border: 2px solid gainsboro; */
        /* font-size: 15px; */
        /* width: 100%;  */
    }
    #pages ul li a{
       /* border: 2px solid brown; */
       display: flex;
       font-size: 16px;
       /* width: 100%; */
       
    }
    #icons{
        display: none;
    }
    #icons3{
        display: none;
    }
    #icons2{
        /* border: 2px solid red; */
        width: 15%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #bg{
        width: 100%;
        /* border: 2px solid crimson; */
    }
    #bg img {
        width: 100%;
    }
}


@media (min-width:840px){
    #logo{
        /* border: 2px solid red; */
    }
    #pages{
        /* border: 2px solid red; */
    }
    #pages ul{
        display: flex;
        justify-content: left;
        align-items: center;
    }
    #pages ul li a{
        padding: 0px 18px;
    }


    #icons2{
       display: none;
    }
    #icons{
        display: none;
    }
    #icons3{
        /* border: 2px solid red; */
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #icons3 i{
        padding: 0px 12px;
    }
    #bg{
        height: 650px;
        width: 100%;
        /* border: 1px solid red; */
        position: absolute;
    }
    #bg img{
        height: 100%;
        width: 100%;
        opacity: 0.9;
    }
}